<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.activeText{
	background: #fbdfdf !important;
}
	</style>
</head>
<body>
<div id="app">
	<header>
		<div class="wrap">
			<p class="title">Task Manager</p>
			<div class="info">
				<i class="fas fa-info-circle fa-3x"></i>
				<p>Диспетчер задач  - эффективное средство их выполнения, который поможет вам справиться с постоянно растущим списком дел и ничего не пропустить</p>
			</div>
		</div>
	</header>
	<div class="wrap">
		<main>
			<div class="new_task">
				<form action="" method="get" @submit.prevent>
					<label for="task">Добавить новую задачу:</label>
					<input class="forma" type="text" name="addnewtask" id="task" v-model="newTask">
					<input type="submit" @click="addTasks()"  value="Добавить" class="forma forma2" >
				</form>
			</div>
			<div class="menu">
				<a href="#table1">
					Задачи, которые нужно сделать
				</a>
				
				<a href="#table2">Задачи, которые ещё выполняются</a>
				<a href="#table3">Задачи, которые уже сделаны</a>
			</div>
			<div class="wrap-for-columns">
				<div id="table1" class="columns">
					<h2>Нужно сделать:</h2>
					<hr>
					<div class="wrap-for-sticks">
						<draggable v-model="lists.backlog" group="gr" @start="drag=true" @end="drag=false" @change="saveTask()">
						<task data-col="backlog" v-for="(box, index) in lists.backlog" :id="box.id" :text="box.text" :count="index"></task>
					</div>
				</div>
				<div id="table2" class="columns">
					<h2>Выполняется:</h2>
					<hr>
					<div class="wrap-for-sticks">
						<draggable v-model="lists.inprogress" group="gr" @start="drag=true" @end="drag=false" @change="saveTask()">
						<task data-col="inprogress" v-for="(box, index) in lists.inprogress" :id="box.id" :text="box.text" :count="index"></task>
					</draggable>
					</div>
				</div>
				<div id="table3" class="columns">
					<h2>Сделано:</h2>
					<hr>
					<div class="wrap-for-sticks">
						<draggable v-model="lists.done" group="gr" @start="drag=true" @end="drag=false" @change="saveTask()">
						<task data-col="done" v-for="(box, index) in lists.done" :id="box.id" :text="box.text" :count="index"></task>
					</draggable>
					</div>
				</div>
			</div>

		</main>
	</div>
	<footer>
			<p>© Беляева Дарья, 2019. Все права защищены. </p>
	</footer>
</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
<script src="script.js"></script>

</body>
</html>